// Specific CSS for your home-page
.available{
  background-color: #D9D9D9;
}

.skills-round{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category{
  max-width: 500px;
  max-height: 400px;
}
