
// Specific CSS for your home-page
.available{
  background-color: #D9D9D9;
  padding: 100px 0;
}
.skills-round{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  padding-left: 150px;
  padding-bottom: 30px;
  padding-top: 30px;

.card-category{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-position: 30% 30%;
  box-shadow:8px 8px 5px rgb(204, 201, 201);
  display: inline-block;
  border: none;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.card-category:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   transition: all 0.4s ease 0s;
}

p{
  padding-top: 90px;
  padding-left: 50px;
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 45px;
  text-shadow: 2px 2px #ff0000;
}
}
