
<div class="navbar">
  <div class="logo" style=" linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653478095/Grannies/Prancheta_1_hz3js5.png);">
  </div>
  <div class="in">
    <%= link_to "Sign In", new_user_session_path  %>
  </div>
</div>
