
<div class="navbar">
  <div class="logo">
    <%= cl_image_tag "v1653560046/Grannies/loogo_yc5gqi.png" %>
  </div>

    <div class="teste">
          <input placeholder='Search...' class='js-search' type="text">
          <i class="fa fa-search"></i>
    </div>

  <div class="in">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path  %>
    <% end %>
  </div>
</div>
