<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653510921/Grannies/banner_nv4nb1.jpg);">

    <div class="container">
      <h1>GRANNYUP YOUR LIFE!</h1>
      <%= link_to "SEE ALL", grannies_path, class: "btn-all" %>
    </div>
  </div>




<h2>SEE OUR GRANNIES SKILLS</h2>
<div class="skills-round">

  <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653554440/Grannies/Prancheta_1_1-20_lko3fv.jpg)">
   <p>CLUBBING</p>
  </div>

  <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653554441/Grannies/Prancheta_1_2-20_plbm5u.jpg)">
   <p>TALK TO</p>
  </div>

  <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653554440/Grannies/Prancheta_1-20_efkut9.jpg)">
    <p>COOKING</p>
  </div>
</div>

<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1653511008/Grannies/banner2_lyoots.jpg);">

    <div class="container">
      <h1>ADD YOUR CRAZY SKILLS!</h1>
      <a class="btn-all2" href="#">JOIN OUR GRANNYMONSTER SQUAD</a>
     </div>
  </div>




</body>
