.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 283px 0;
}

.banner h1 {
  margin: 0;
  color: #ffffff;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  margin-bottom: 40px;
  text-shadow: 2px 2px #ff0000;
}

.btn-all {
  color: #FFFFFF;
  background-color: #EA0063;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 20px;
  transition: opacity 0.3s ease;
  text-decoration: none;

}

.btn-all:hover {
  color: #EA0063;
  background-color: #ffffff;
  border: 2px solid #EA0063;
}

.banner2 {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0;
}

.banner2 h1 {
  margin: 0;
  color: #ffffff;
  font-size: 100px;
  font-weight: bold;
  margin-left: 640px;
  margin-right: 15px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 40px;
  text-shadow: 2px 2px #ff0000;
}

.btn-all2 {
   color: #FFFFFF;
  background-color: #EA0063;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 20px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  margin-left: 630px;

}

.btn-all2:hover {
  color: #EA0063;
  background-color: #ffffff;
  border: 2px solid #EA0063;

}
