.card-results > a > img {
  max-width: 100%;
}

.card-results > a {
  text-decoration: none;
  color: black;
  align-content: center;
}

.granny-container {
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 20vh;
}

.granny-card {
  /* Change background color */
  background-color: rgb(255, 255, 255);

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

.card-body {
  background-color: rgb(255, 255, 255);
}

.book-link {
  color: white;
}

h2 {
  font-size: 10px;
}

p {
  font-size: 15px;
}

// flexbox

.card-select p:hover {
  color: black;
}

.card-select p {
  color: black;

}

.old {
border-radius: 5px;
}
