h2{
  margin: 0;
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 2px #ff0000;
  font-size: 300px;
  margin-bottom: 30%;
}

a{
  color: white;
}

h3{
  color: rgb(64, 58, 58);
  text-shadow: 2px 2px white;
  margin-left: 10%;
}
