.navbar{
  justify-content: space-between;
  background: black;
  height: 70px;
  position:fixed;
  z-index: 1;
  text-decoration: none;
  color: #ffffff;
}

.navbar .in{
  margin-right: 30px;
  text-decoration: none;
  color: #ffffff;
  a {
    text-decoration: none;
    color: white;
  }
}

.logo{
 z-index: 2;
 img {
   width: 45px;
   margin-left: 30px;
 }
}
