.background{
  padding: 100px 0;
}

.containernew{
  background-color: #c9c9c9;
  opacity: 0.9;
  width: 35%;
  padding: 15px 0;
  margin-left: 35%;
  margin-bottom: 15%;
  border-radius: 10px;
}

.containerbook{
  background-color: #c9c9c9;
  opacity: 0.9;
  margin-bottom: 15%;
  border-radius: 10px;
}

.form-actions{
color: white;
  background-color: #EA0063;
  padding: 10px 70px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
  width: 8%;
  margin-left: 37%;
}

.form-actions:hover {
  color: #EA0063;
  background-color: #ffffff;
  border: 2px solid #EA0063;
}

input.btn {
  color: white;
  font-size: 17px;
  margin-right: 200px;
  margin-left: -40px;
}
input.btn:hover{
  color: #EA0063;
  background-color: #ffffff;
  border: 2px solid #EA0063;
}

.new_user a {
  margin-top: 40px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

p .links-update{
  text-decoration: none;
  color:black;
}
